.presentor-intro{
    padding:20px;
}

.submit-feedback{
    background-color: #1F9BE4;
    color: white;
    border: none;
    width: 200px;
    border-radius: 28px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.question-container{
    padding: 8px 20px;
    color: rgba(0,0,0,0.7);
    font-weight: 500;
    font-size: 0.95em;
}