      <div class="presentor-intro">
        <img src="{{common.presenterImage | async }}" style="width:55px;float:left;margin-right:10px;border-radius: 4px;">
        <div style="font-size: 0.9em;
      font-family: Roboto;text-align: justify"><div style="font-size:1.1em;font-weight:bold;margin-bottom:4px;">Tell us how the presenter was?</div>You can rate the presenter
          on different paramters.All the information you post here is purely anonymous.
        </div>
      </div>
      <div class="clear"></div>
      <div class="question-container">
        <div class="feedback-questions">
          How was the presenters overall knowledge?
          <mat-slider style="width:300px" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="5"></mat-slider>
        </div>
        <div class="feedback-questions">
         Was the session on time?
          <mat-slider style="width:300px" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="5"></mat-slider>
        </div>
        <div class="feedback-questions">
         Was the presenter helpful and active?
          <mat-slider style="width:300px" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="5"></mat-slider>
        </div>
        <div class="feedback-questions">
          Rate your overall experince of the session?
          <mat-slider style="width:300px" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="5"></mat-slider>
        </div>
        <div class="feedback-questions">
          How likely are you to recommned this to your friend?
          <mat-slider style="width:300px" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="5"></mat-slider>
        </div>
        <mat-form-field style="width:100%">
        <textarea rows="3" matInput placeholder="Comments if any"></textarea>
      </mat-form-field>
      <button (click)="submitFeedback()" mat-raised-button type="button" class="submit-feedback">Submit Feedback</button>
      </div>

  