.login-background {
  background-image: url("../../../assets/loginbg.png");
  background-size: cover;
  height: 100vh;
}

.login-text-container {
  width: 100%;
  font-family: Roboto;
  color: #FFFFFF;
  text-align: center;
  padding-top:20px;
}


.color-bar-container {
  margin: 0 auto;
}

.color-bar-container span {
  display: inline-block;
  height: 3px;
  width: 110px;
  margin-left: 10px;
}

.color-bar-container span:nth-child(1) {
  background-color: #2C89C3;
}

.color-bar-container span:nth-child(2) {
  background-color: #DD3A76;
}

.color-bar-container span:nth-child(3) {
  background-color: #28A834;
}

.color-bar-container span:nth-child(4) {
  background-color: #E57A18;
}

.login-text-container p:nth-child(1) {
  font-size: 2em;
  font-weight: 300;
}

.login-text-container p:nth-child(3) {
  font-size: 3em;
  font-weight: 300;
}

.login-text-container p:nth-child(4) {
  font-size: 1.3em;
  font-weight: 300;
}

.login-box {
  width: 370px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 6px;
  text-align: center;
  padding: 20px;
  z-index: 3;

}

.login-title {
  font-family: Roboto;
  text-transform: uppercase;
  color: #1F9BE4;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
}

.login-box input {
  display: block;
  margin: 0 auto;
  width: 95%;
  border-radius: 2px;
  border: 1px solid #DEE7EB;
  padding: 5px 10px;
  margin-top: 20px;
  opacity: 0.85;
}

.login-box a {
  text-decoration: none;
  color: #72848C;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-top: 45px;
  margin-bottom: 20px;
}

.login-box button.login-button {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 42px;
  background-color: #1F9BE4;
  border: none;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  border-radius: 20px;
  text-transform: uppercase;
}

.login-box button.login-button:focus {
  outline: none;
}

.linkedin {
  width: 19px;
  vertical-align: baseline;
  margin-right: 6px;
  margin-bottom: -2px;
}

@media (min-width:120px) and (max-width: 767px) {
  
  .login-box {
    width: 85%;
  }

  .login-text-container p:nth-child(1) {
    font-size: 1.5em;
    font-weight: 300;
  }

  .login-text-container p:nth-child(3) {
    font-size: 1.8em;
    font-weight: 300;
  }

  .login-text-container p:nth-child(4) {
    font-size: 1em;
    font-weight: 300;
  }

  .color-bar-container span {
    width: 62px;
    height: 2px;
  }
}
