<div class="login-background">

<div class="login-text-container">
  <p>Tieto Customer Engagement</p>
    <div class="color-bar-container">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p>Better Insight For Your Visit</p>
    <p>Everything You Need for your business</p>
</div>
<div class="login-box">
  <div class="login-title">Login</div>
  <div class="form-container">
    <form *ngIf="userConfirmed">
      <input name="email" [(ngModel)]="email" type="text" placeholder="Email address">
      <input name="password" [(ngModel)]="password" type="password" placeholder="Password">
      <a routerLink="/forgotpassword">Forgot Password?</a>
      <button class="login-button" mat-button type="button" (click)="login()">Login</button>
      <button style="display: none" type="button"><img src="../../assets/linkedin.png" class="linkedin">Login with LinkedIn</button>
    </form>
    <form *ngIf="!userConfirmed">
      <div>Looks like it is your first login. Please enter the confirmation code you have got in your email</div>
      <input name="confirmationCode" [(ngModel)]="confirmationCode" type="text" placeholder="Confirmation Code">
      <br>
      <button class="login-button" mat-button type="button" (click)="confirmRegistraion()">Confirm Registration</button>
      <div>Don't have a confirmation code? <button (click)="resendConfirmationCode()" mat-button>Resend Confirmation Code</button></div>
    </form>
  </div>

</div>
</div>
