<div>
  <div class="customers">
    <h2>Customers</h2>
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile (click)="openAgenda()"><div class="tile"><img src="../../assets/Agenda.png"><div>Agenda</div></div></mat-grid-tile>
      <mat-grid-tile (click)="emailAgenda()"><div class="tile"><img src="../../assets/Calender.png"><div>Email Agenda</div></div></mat-grid-tile>
      <mat-grid-tile><div class="tile"><img src="../../assets/customer.png"><div>Who's Who</div></div></mat-grid-tile>
      <mat-grid-tile><div class="tile"><img src="../../assets/Bucket.png"><div>Food</div></div></mat-grid-tile>
      <mat-grid-tile><div class="tile"><img src="../../assets/DosAndDonts.png"><div>Do's & Dont's</div></div></mat-grid-tile>
      <mat-grid-tile><div class="tile"><img src="../../assets/SightSeaing.png"><div>Sight Seeing</div></div></mat-grid-tile>
      <mat-grid-tile><div class="tile"><img src="../../assets/Taxi.png"><div>Taxi</div></div></mat-grid-tile>
      <mat-grid-tile><div class="tile"><img src="../../assets/police.png"><div>Police</div></div></mat-grid-tile>
      <mat-grid-tile><div class="tile"><img src="../../assets/Wther.png"><div>Weather</div></div></mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="presentors">
    <h2>Presentors</h2>
  </div>
</div>