<div class="title">
  Set your preferences for this event
</div>
<hr>
<ul>
  <li>
    <a>Food</a>
  </li>
  <li>
    <a>Travel</a>
  </li>
  <li>
    <a>Security</a>
  </li>
  <li>
    <a>Medical</a>
  </li>
</ul>
