.title{
    text-align: center;
    padding-top: 60px;
    color: #0065a0;
    font-size:1.3em;
}
ul{
    list-style: none;
    width:270px;
    margin:0 auto;
    text-align: center;
    
    padding-left:0;
    margin-top:25px;
}
ul li{
    display: block;
    padding:30px;
    background:#0065a0;
    color:white;
    width:100%;
    margin-bottom:25px;

}
ul li a{
    color:white;
}