<nav class="sidebar-container" *ngIf="isLoggedIn$ | async"  id="sidebar-container">
    <img src="../assets/close.png" id="menu-close" (click)="hideMenu()">
    <ul class="sidebar-menu">
      <li><img src={{profileImagepath}}></li>
      <li routerLinkActive="active-link">
        
       <a routerLink="/home" (click)="hideMenu()"><span></span>Home</a>
      </li>
      <li routerLinkActive="active-link">
          
        <a routerLink="/abouttieto" (click)="hideMenu()"><span></span>About Tieto</a>
      </li>
      <li routerLinkActive="active-link">
          
        <a routerLink="/tieto50years" (click)="hideMenu()"><span></span>Tieto 50 Years</a>
      </li>
      <li routerLinkActive="active-link"> 
        
        <a routerLink="/events" (click)="hideMenu()">  <span></span>Events</a>
      </li>
      <li routerLinkActive="active-link">
          
        <a routerLink="/contactus" (click)="hideMenu()"><span></span> Contact Us</a>
      </li>
    </ul>
  </nav>
  <div class="collapse-menu" (click)="showMenu()" id="collapse-menu">
    <fa name="bars"></fa>
    </div>