
 <!-- <svg id="tieto-logo" style="width:143px;position:absolute;top:0;height:100px;">
    <path d="M0 0l.275 85.055 42.691 13.22L142 0z" fill="#1F9BE4"></path>
    <path d="M41.842 31.341c.099 2.33 1.496 3.881 3.948 3.881 1.397 0 2.758-.625 3.298-1.876h5.433C53.482 37.29 49.685 39 45.738 39c-5.75 0-9.662-3.354-9.662-9.07 0-5.224 4.317-8.971 9.527-8.971 6.331 0 9.495 4.604 9.22 10.382zm7.178-3.1c-.103-1.908-1.5-3.484-3.433-3.484-2.047 0-3.408 1.416-3.745 3.483zm26.715-7.282c5.517 0 9.413 3.912 9.413 9.038 0 5.127-3.875 9.003-9.413 9.003-5.537 0-9.35-3.876-9.35-9.003 0-5.126 3.839-9.038 9.35-9.038zm0 13.767c2.71 0 3.562-2.584 3.562-4.729 0-2.144-.858-4.764-3.562-4.764-2.703 0-3.524 2.584-3.524 4.764 0 2.181.82 4.734 3.524 4.734zm-48.324-9.372h-3.567v7.617c0 1.39.814 1.69 2.074 1.69.472 0 .985-.067 1.498-.067v4.235c-1.037.031-2.105.171-3.157.171-4.926 0-6.186-1.422-6.186-6.205v-7.44h-2.925V21.63h2.92v-5.724h5.776v5.724h3.567zm7.222-5.275h-5.768v-4.172h5.768zm-5.773 1.565h5.773V39h-5.768zm37.515 3.71h-3.56v7.617c0 1.39.813 1.69 2.073 1.69.471 0 .984-.067 1.497-.067v4.235c-1.036.031-2.104.171-3.156.171-4.924 0-6.183-1.422-6.183-6.205v-7.44h-2.929V21.63h2.898v-5.724h5.8v5.724h3.565z"
      fill="#fff"></path>
  </svg> -->
<div class="event-container">
    <div class="event-name">
       {{currentEvent.EventName}}
      </div>
      <div class="event-intro">
       {{currentEvent.Description}}
        </div>
     
</div>
<mat-grid-list [cols]="mobileQuery.matches ? 2 : 6" rowHeight="1:1">
  <mat-grid-tile><div class="tile"><a routerLink="/agenda/{{currentEvent.EventId}}"><img src="../../assets/Agenda.png"><div>Agenda</div></a></div></mat-grid-tile>
  <mat-grid-tile><div class="tile"><a routerLink="/whoswho/{{currentEvent.EventId}}"><img src="../../assets/customer.png"><div>Who's Who</div></a></div></mat-grid-tile>
  <mat-grid-tile><div class="tile"><a routerLink="/preferences"><img src="../../assets/Bucket.png"><div>Preferences</div></a></div></mat-grid-tile>
  <mat-grid-tile><div class="tile"><a routerLink="/dosdont"><img src="../../assets/DosAndDonts.png"><div>Do's & Dont's</div></a></div></mat-grid-tile>
  <mat-grid-tile><div class="tile"><a routerLink="/weather" href="#"><img src="../../assets/Wther.png"><div>Weather</div></a></div></mat-grid-tile>
  <mat-grid-tile><div class="tile"><img src="../../assets/SightSeaing.png"><div>Sight Seeing</div></div></mat-grid-tile>
  <mat-grid-tile><div class="tile"><img src="../../assets/Taxi.png"><div>Taxi</div></div></mat-grid-tile>
  <mat-grid-tile><div class="tile"><img src="../../assets/police.png"><div>Police</div></div></mat-grid-tile>
  
</mat-grid-list>
<div class="email-sent" *ngIf="showAlert">Agenda Sent to your registered Email<button (click)="hideEmailSent()">OK</button></div>
