.event-container {
  background-image: url("../../assets/bg.png");
  width: 100%;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  height: 350px;
  background-color: #0065a0;
  background-blend-mode: multiply;

}

.event-intro {
  text-align: justify;
  width: 60%;
  margin: 0 auto;
  color: white;
  font-weight: 300;
}

mat-grid-tile .tile {
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.25);
  padding: 16px;
  border-radius: 4px;
  text-align: center;
  color: white;
  width: 82%;
  height: 76%;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);

}

mat-grid-tile a {
  color: rgba(0, 0, 0, 0.8);
}

mat-grid-tile .tile img {
  width: 50%;
  margin-top: 10px;
}

.tile div {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 20px;
  opacity: 0.9;
}

a:hover {
  text-decoration: none;
}

a:hover img {
  transform: translateX(30deg);
}

mat-grid-list {
  width: 92%;
  margin: 0 auto;
  margin-top: -100px;
}

.event-name {
  text-align: center;
  padding: 14px;
  color: white;
  font-size: 1.6em;
  text-transform: uppercase;
}
mat-grid-list mat-grid-tile{
    animation-name: example;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}

mat-grid-list mat-grid-tile:nth-child(2) {
    animation-delay: 100ms;   
  }
  mat-grid-list mat-grid-tile:nth-child(3) {
    animation-delay: 200ms;   
  }
  mat-grid-list mat-grid-tile:nth-child(4) {
    animation-delay: 300ms;   
  }
  mat-grid-list mat-grid-tile:nth-child(5) {
    animation-delay: 400ms;   
  }
  mat-grid-list mat-grid-tile:nth-child(6) {
    animation-delay: 500ms;   
  }
  mat-grid-list mat-grid-tile:nth-child(7) {
    animation-delay: 600ms;   
  }
  mat-grid-list mat-grid-tile:nth-child(8) {
    animation-delay: 700ms;   
  }
@keyframes example {
    0%   {transform: translateX(-100%);opacity: 0;}
    100%  {transform: translateX(0);opacity: 1;}
  }
@media (max-width:600px) {
  .event-intro {
    font-size: 0.8em;
    width: 90%;
  }

  .event-name {
    font-size: 1.3em;
  }
}
