<div class="title" *ngIf="customers.length>0">Customers</div>
<ul class="user-list" [@listAnimation]="customers">
  
  <li  *ngFor="let customer of customers">
    <a routerLink="/presenterprofile/{{customer.UserId}}">
    <img class="profile-image" src="{{customer.profileImage}}">
    <div class="username">{{customer.name}}</div>
    <div class="job-title">{{customer.jobTitle}}</div>
  </a>
  </li>

</ul>
<div class="title" *ngIf="presenters.length>0">Presenters</div>
<ul class="user-list" [@listAnimation]="presenters.length">
  <li  *ngFor="let customer of presenters">
    <a routerLink="/presenterprofile/{{customer.UserId}}">
    <img class="profile-image" src="{{customer.profileImage}}">
    <div class="username">{{customer.name}}</div>
    <div class="job-title">{{customer.jobTitle}}</div>
  </a>
  </li>
</ul>
