.user-list{
    list-style: none;
    padding: 0 4px;;
    width:100%
    
}
.user-list li{
    display: inline-block;
    width: 29%;
    text-align: center;
    box-shadow: 0 0 1px 0px #00000066;
    margin: 5px;
    padding: 8px;
    border-radius: 3px;
    max-width: 130px;
}

.user-list li img{
    width:65px;
    margin-bottom: 4px;
    height:65px;
    border-radius: 3px;
}
.user-list li a div{
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 0.7em;
    color:black;

}
.user-list li div.job-title{
    font-size:0.6em;
}
.title{
    text-align: center;
    padding-top: 10px;
    color: #0065a0;
}
a{
    text-decoration:none;
}
.username{
    font-weight: 600;
}