<div class="weather-container">
<p class="temperature">{{temperature}}&#8451;</p>
<p class="desc">{{description}}</p>
<canvas id={{weatherIcon}} width="60" height="60"></canvas>
<p class="location">{{city}}, {{country}}</p>
<div class="max-min"><span style="border-right: 1px solid white">Max: {{maxTemp}}&#8451;</span><span>Min: {{minTemp}}&#8451;</span></div>
<ul class="others">
    <li style="border-right: 1px solid white"><div>Humidity</div>{{humidity}}</li>
    <li style="border-right: 1px solid white"><div>Pressure</div>{{pressure}}</li>
    <li><div>Wind Speed</div>{{windSpeed}}</li>
</ul>
</div>
