.weather-container{
    background-image: url("../../assets/weather.png");
    height:100%;
    color:rgba(255,255,255,0.9);
    text-align: center;
    background-position: bottom right;
    background-size: 210px;
    background-color: #0065a0;
    background-repeat: no-repeat;

}

.temperature{
    font-size: 3em;
    font-weight: 600;
    padding-top:15px;
}
.desc{
    font-size: 2em;
    text-transform: capitalize;
    
}
.max-min{
    font-size: 1.3em;
    font-weight: 300;
    margin-top:50px;
}
.max-min span{
    padding:3px 10px;
}
.location{
    font-size: 1.2em;
    padding-top:20px;
}
.others{
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 0;
    padding-top:30px;
    font-size: 1em
}
.others li{
    display: inline-block;
    width:32%;
}
.others li div{
    font-weight: 300;
   
}