<div class="app-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar [ngClass]="{'show-toolbar': (commonService.shouldNavBarBeVisible | async)}" style="background-color:#0065a0;" class="app-toolbar">
    <button style="position: absolute;right:0" mat-icon-button (click)="snav.toggle()">
      <mat-icon style="color:white;" [@fadeInOut] *ngIf="!snav.opened">menu</mat-icon>
      <mat-icon style="color:white;" [@fadeInOut] *ngIf="snav.opened">close</mat-icon>
    </button>
    <button (click)="goBack()" mat-icon-button style="position: absolute">
      <mat-icon style="color:white;">arrow_back</mat-icon>
    </button>
    <h1 class="app-name">{{commonService.pageTitle | async}}</h1> 
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container" [ngClass]="{'margin-top-body':(mobileQuery.matches && (commonService.shouldNavBarBeVisible | async))}">
    <mat-sidenav position="end" style="background-color:#1F9BE4" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
       
        <img mat-list-item src={{commonService.profileImage|async}} class="img-fluid rounded-circle profile-image">
        <span style="font-size: 0.7em;
        display: inline-block;
        width: 100%;
        text-align: center;">{{commonService.nickname
          | async}}</span>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item routerLink="/abouttieto">About Tieto</a>
        <a mat-list-item routerLink="/tieto50years">Tieto 50 Years</a>
        <a mat-list-item routerLink="/contactus">Contact Us</a>
        <a mat-list-item (click)="snav.toggle()" routerLink="/logout">Logout</a>
        <br>


      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
       
      <router-outlet>
      </router-outlet>
      <ngx-spinner bdOpacity=1 bdColor="#1F9BE4" size="medium" color="white" type="ball-atom" fullScreen="true">
        <svg id="tieto-logo" style="width: 86px;
          position: fixed;
          top: -200px;
          height: 100px;
          left: calc(50% - 50px);">
          <path d="M41.842 31.341c.099 2.33 1.496 3.881 3.948 3.881 1.397 0 2.758-.625 3.298-1.876h5.433C53.482 37.29 49.685 39 45.738 39c-5.75 0-9.662-3.354-9.662-9.07 0-5.224 4.317-8.971 9.527-8.971 6.331 0 9.495 4.604 9.22 10.382zm7.178-3.1c-.103-1.908-1.5-3.484-3.433-3.484-2.047 0-3.408 1.416-3.745 3.483zm26.715-7.282c5.517 0 9.413 3.912 9.413 9.038 0 5.127-3.875 9.003-9.413 9.003-5.537 0-9.35-3.876-9.35-9.003 0-5.126 3.839-9.038 9.35-9.038zm0 13.767c2.71 0 3.562-2.584 3.562-4.729 0-2.144-.858-4.764-3.562-4.764-2.703 0-3.524 2.584-3.524 4.764 0 2.181.82 4.734 3.524 4.734zm-48.324-9.372h-3.567v7.617c0 1.39.814 1.69 2.074 1.69.472 0 .985-.067 1.498-.067v4.235c-1.037.031-2.105.171-3.157.171-4.926 0-6.186-1.422-6.186-6.205v-7.44h-2.925V21.63h2.92v-5.724h5.776v5.724h3.567zm7.222-5.275h-5.768v-4.172h5.768zm-5.773 1.565h5.773V39h-5.768zm37.515 3.71h-3.56v7.617c0 1.39.813 1.69 2.073 1.69.471 0 .984-.067 1.497-.067v4.235c-1.036.031-2.104.171-3.156.171-4.924 0-6.183-1.422-6.183-6.205v-7.44h-2.929V21.63h2.898v-5.724h5.8v5.724h3.565z"
            fill="#fff"></path>
        </svg>
        <p style="color: white;
        font-weight: 300;
        margin-top: 45px;">
          {{commonService.loadingText | async}}
        </p>
      </ngx-spinner>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
