button {
  margin: 0 auto;
  height: 42px;
  background-color: #1F9BE4;
  border: none;
  color: #FFFFFF;
  display: block;
  margin-top: 23px;
  width: 285px;
  border-radius: 30px;

}
.background-image{
  background-size: cover;
  background-repeat: no-repeat;
  height:170px;
  width: 100%;
  position: absolute;
  z-index:-1;
}
.welcome-wrapper {
  text-align: center; 
  padding-top:30px;
}

.welcome-wrapper img {
  width: 180px;
  margin: auto;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 11px 1px rgba(0,0,0,0.5);
  margin-bottom: 55px;
}

.content-wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 82%;
    border: 1px solid #acacac;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
}

.content-wrapper P:nth-child(1) {
  font-size: 1.5em;
  color: #1f9be4;
  text-transform: uppercase;
  
}

.content-wrapper P:nth-child(2) {
  font-weight: 500;
  color:rgba(0,0,0,0.8);
}

.content-wrapper P:nth-child(3) {
  font-size: 0.9em;
  font-weight: 500;
  color:rgba(0,0,0,0.6);
  margin-top: -12px;
}

.welcome-checkbox{
font-weight: 300 !important;
}


.home-title span:nth-child(1) {
  color: #1F9BE4;
  margin-right: 10px;
}

.home-title span:nth-child(2) {
  color: white;
}

.home-title {
    font-size: 1.8em;
    font-weight: 300;
    margin-left: 27px;
}
@media (min-width:600px){
  .background-image{
    display: none;
  }
  .welcome-wrapper{
    padding-top:30px;
    background-color: rgba(0,0,0,0.1);
  }
}