<div class="background-image"></div>
<div class="welcome-wrapper">
  <img src="../../assets/profilePic.jpg">
  <div class="content-wrapper">
    <p>Welcome to Tieto</p>
    <p>Mrs. Jennifer Lawrence</p>
    <p>Sr. VP- Nordea Investments</p>
  </div>
  <mat-checkbox><span class="welcome-checkbox">Skip this page next time</span></mat-checkbox>
  <button mat-button type="button" (click)="nextClicked()">Next</button>
</div>