<div class="agenda-calendar-wrapper">
  <div class="agenda-calendar">
    <div (click)="setSelectedDay(day.dayNo)" *ngFor="let day of dayWiseSchedule" class="schedule" [class.selected-date]="selectedDay.dayNo===day.dayNo && dayWiseSchedule.length>1" >
      <div class="day-label">DAY</div>
      <div class="date-wrapper">
        <div class="day">{{day.dayNo}}</div>
        <div class="date">{{day.date}}</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="selectedDay && selectedDay.offeringSchedule;else no_agenda">
<div class="row" [@listAnimation]="selectedDay.offeringSchedule" >
  <div *ngFor="let pre of selectedDay.offeringSchedule" class="agenda">
    <div style="padding:10px;">
    <div class="time-venue">
      <fa style="color:#1F9BE4" name="clock-o"></fa><span>{{pre.startTime}}-{{pre.endTime}}</span>
      <fa style="color:#1F9BE4" name="map-marker"></fa><span>{{pre.meetingRoom}}</span>
    </div>
    <div class="title">{{pre.title}}</div>
    <div class="summary">{{pre.shortDescription}}
    </div>
    <div style="display:none" id="agenda-{{pre.id}}">
      <label class="off-title">Key Highlights:</label>
      <div class="content">{{pre.highlights}}</div>
      <label class="off-title">Details:</label>
      <div class="content">{{pre.longDescription}}</div>
      <label class="off-title">Resource Links:</label>
      <div class="content">
      <a href="{{pre.linkToPPT}}">Link to ppt</a>
      <br>
      <a href="{{pre.linkToVideo}}">Link to video</a>
    </div>
      <label class="off-title">About Presenter</label>
      <div class="content">
      <img src="{{pre.photo}}" width="60" style="float:left;border-radius:4px;margin-right:4px">
      <div>
      <div>{{pre.presentorName}}</div>
      <div>{{pre.designation}}</div>
      <div>{{pre.spec}}</div>
    </div>
    <div style="clear:both;margin-top:17px">
    <button routerLink="/presenterprofile/{{pre.userId}}" mat-stroked-button style="margin-right:20px"><fa name="info-circle"></fa> Know More</button>
    <button (click)="setPresenterImage(pre.photo)"mat-stroked-button routerLink='/feedback'><fa name="comment-o"></fa> Feedback</button>
  </div>
    </div>
    </div>
  </div>
    <div class="button-container">
      <button style="width:120px;"mat-button><fa name="envelope-o"></fa><span style="margin-left:6px">Email Invite</span></button>
      <button style="display:none">test</button>
      <button *ngIf="pre.userId!=165" mat-icon-button type="button" (click)="toggle(pre.id)">
        <fa class="show-content" name="chevron-down"></fa>
        <fa class="show-content" style="display:none" name="chevron-up"></fa>
      </button>
    </div>
  </div>
</div>
</div>
<ng-template #no_agenda>
<div style="text-align: center;opacity: 0.8;">No Agenda scheduled for this event yet !</div>
</ng-template>
