  
  .agenda-calendar-wrapper {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
    padding-left: 10px;
   
  }
  .agenda-calendar-wrapper::-webkit-scrollbar {
      display: none;
  }
  
  .agenda-calendar {
  
    margin-top: 10px;
    margin-left: 2px;
    border: 1px solid #acacac;
    border-radius: 10px;
    display: inline-flex;
    display: -webkit-inline-flex;
  }
  
  .agenda-calendar .schedule:nth-child(1) {
    border-radius: 9px 0 0 9px;
  }
  
  .agenda-calendar .schedule:last-child {
    border-radius: 0px 9px 9px 0px;
    border-right: none;
  }
  
  .day-label {
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 0;
  
  }
  
  .date-wrapper {
    display: inline-block;
    margin-left: 24px;
  }
  
  .selected-date{
    background-color: cornflowerblue;
  }
  .selected-date::after{
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    left: calc(50% - 12px);
    background-color: cornflowerblue;
  }
  .schedule {
    position: relative;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #4B4A4A;
    border-right: 1px solid #acacac;
    display: inline-block;
    cursor: pointer;
  }
  
  .day {
  
    font-size: 2.5em;
    font-weight: bold;
    height: 44px;
    margin-top: -8px;
    margin-left: 6px;
  }
  
  .date {
  
    font-size: 0.6em;
    font-weight: bold;
    margin-top: 2px;
    color: black;
    margin-left: -10px;
  }
  
  .agenda-selected {
    background-color: #1F9BE4;
    color: white;
  }
  
  .agenda {
    
    width: 96%;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 0 0 3px 0px rgba(0,0,0,0.7);
    margin: 8px auto;

  }
  
 
  .agenda-container{
    padding:0 8px;
  }
  .time-venue{
      font-size: 0.8em;
      font-weight: 500;
  }
  
  .time-venue fa {
    margin-right: 5px;
  
  }
  
  .time-venue span {
    margin-right: 25px;
  }
  
  .agenda .title {
    color: #1F9BE4;
    margin-top: 5px;
    font-weight: 500;
  }
  
  .button-container {
    margin-top: 10px;
    width:100%;
    background-color: rgba(0,0,0,0.1);
  }
  
  .button-container button {
    width: 100px;
    padding: 2px 0;
    border: none;
    margin-right:5px;
  }
  
  
  .button-container button:nth-child(2) {
      background-color: #d75f00;
      color: white;
    }
    .button-container button:nth-child(3) {
      width:60px;
      float:right;
    }
    .agenda .summary{
      font-size: 0.8em;
     
    }
  label.off-title{
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 0.8em;
    opacity: 0.9;
  }
  div.content{
    font-size: 0.8em;
  }