<svg id="tieto-logo" style="width:143px;position:absolute;top:0;height:100px;">
    <path d="M0 0l.275 85.055 42.691 13.22L142 0z" fill="#1F9BE4"></path>
    <path d="M41.842 31.341c.099 2.33 1.496 3.881 3.948 3.881 1.397 0 2.758-.625 3.298-1.876h5.433C53.482 37.29 49.685 39 45.738 39c-5.75 0-9.662-3.354-9.662-9.07 0-5.224 4.317-8.971 9.527-8.971 6.331 0 9.495 4.604 9.22 10.382zm7.178-3.1c-.103-1.908-1.5-3.484-3.433-3.484-2.047 0-3.408 1.416-3.745 3.483zm26.715-7.282c5.517 0 9.413 3.912 9.413 9.038 0 5.127-3.875 9.003-9.413 9.003-5.537 0-9.35-3.876-9.35-9.003 0-5.126 3.839-9.038 9.35-9.038zm0 13.767c2.71 0 3.562-2.584 3.562-4.729 0-2.144-.858-4.764-3.562-4.764-2.703 0-3.524 2.584-3.524 4.764 0 2.181.82 4.734 3.524 4.734zm-48.324-9.372h-3.567v7.617c0 1.39.814 1.69 2.074 1.69.472 0 .985-.067 1.498-.067v4.235c-1.037.031-2.105.171-3.157.171-4.926 0-6.186-1.422-6.186-6.205v-7.44h-2.925V21.63h2.92v-5.724h5.776v5.724h3.567zm7.222-5.275h-5.768v-4.172h5.768zm-5.773 1.565h5.773V39h-5.768zm37.515 3.71h-3.56v7.617c0 1.39.813 1.69 2.073 1.69.471 0 .984-.067 1.497-.067v4.235c-1.036.031-2.104.171-3.156.171-4.924 0-6.183-1.422-6.183-6.205v-7.44h-2.929V21.63h2.898v-5.724h5.8v5.724h3.565z"
      fill="#fff"></path>
  </svg>
<div class="top-content" [@listAnimation]="nearestEvent">
  <div  *ngIf="events.length==0">
  <h4 style="margin:30px 0;text-align: center;font-weight: 300;">No event scheduled for you yet</h4>
  <h5 style="margin:10px 0;text-align: center;font-weight: 300;">Events will be available soon</h5>
</div>
  <div class="meeting-content" *ngIf="events.length>0">
    <span class="meeting-date">
      <fa name="calendar"></fa>{{dayOfweek}}, {{nearestEvent.formattedSdate}}
    </span>
    <span class="meeting-location">
      <fa name="map-marker"></fa>{{nearestEvent.City}}, {{nearestEvent.LocationName}}
    </span>

    <div class="meeting-title">{{nearestEvent.EventName}}</div>
    <div class="days-remaining" *ngIf="diff>0; else ongoing">
      <div class="days-countdown">{{diff}}</div>
      <div class="days-remaning-text">Days Remaining</div>
    </div>
    <ng-template #ongoing>
      <div class="days-remaining">
        <div class="days-countdown">Ongoing</div>
      </div>
    </ng-template>  
    <div class="meeting-summary">
      <div class="presentation">
        <div class="presentation-icon">
          <fa name="file-text-o"></fa>
        </div>
        <div class="presentation-content">
          <div class="presentation-number"><span>{{nearestEvent.Agendacount}}</span>Presentations</div>
          <div class="presentation-text">Best Offerings for you</div>
        </div>
      </div>
      <div class="speaker">
        <div class="speaker-icon">
          <fa name="microphone"></fa>
        </div>
        <div class="speaker-content">
          <div class="speaker-number"><span>{{nearestEvent.Speakercount}}</span>Speakers</div>
          <div class="speaker-text">Experienced speakers</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="event-container">
  <div style="margin-left:0;margin-right: 0" class="row" [@listAnimation]="events.length">
    <div class="col-lg-4 mb-4" *ngFor="let event of events">
      <div class="card shadow-lg text-center">

        <div class="card-body">
         
          <h5 class="card-title event-card-title">{{event.EventName}}</h5>
          <p class="card-text event-card-content">{{event.Description}}</p>
          <button routerLink="/event/{{event.EventId}}" type="button" mat-button class="event-button">View more details</button>
        </div>
        <div class="card-footer text-muted">
          <fa name="calendar"></fa><span style="margin-left:5px;font-weight: 600;
          font-size: 0.8em;">{{event.formattedSdate}} - {{event.formattedEdate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <h5 class="text-center">Customer Stories</h5>
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <div class="card">
        <img src="../../assets/customerStories.jpg" class="card-img-top h-100" alt="customer stories">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <div class="card">
        <video controls class="card-img-top h-100">
          <source src="../../assets/demo.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>

        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
