.top-content {
  background-image: url("../../assets/bg.png");
  width: 100%;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding-top:20px;
  height: 350px;
  background-color: #0065a0;
  background-blend-mode: multiply;
  border-top:1px solid #1F9BE4;
}

.custom-badge{
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 17px;
    background-color: #1F9BE4;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    color: white;
    line-height: 33px;
    text-align: center;
    display: block;
    box-shadow: 0px 0px 15px 0px #000000c7;
}
.home-title span:nth-child(1) {
  color: #1F9BE4;
  margin-right: 10px;
}

.home-title span:nth-child(2) {
  color: white;
}

.home-title {
  font-size: 1.8em;
  padding-top: 37px;
  padding-left: 20px;
  font-weight: 300;

}

.meeting-content {
  text-align: center;
  position: relative;

}

.meeting-location, .meeting-date {
  font-size: 1.2em;
  font-weight: 300;
  margin-right: 50px;
}

.days-remaning-text{
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: -5px;
}
.meeting-location fa, .meeting-date fa {
  font-size: 2em;
  margin-right: 10px;
}

.meeting-summary>div{
    display: inline-block;
    width:50%
}
.presentation{
   border-right: 1px solid white;
}
.presentation>div, .speaker>div{
    display:inline-block;
}
.presentation-icon, .speaker-icon{
    font-size: 2em;
    margin-right: 5px;
    vertical-align: middle;
}
.presentation-number, .speaker-number{
    text-transform: uppercase;
    letter-spacing: 0.2px;
}
.presentation-content, .speaker-content{
    vertical-align: middle;
}
.presentation-number>span, .speaker-number>span{
    font-weight: bold;
    margin-right: 5px;
    font-size: 1em;
}

.presentation-text, .speaker-text{
    font-size: 0.8em;
    letter-spacing: 1.2px;
}
.event-card-title{
    color: #1F9BE4;
    text-transform: uppercase;
    font-size: 1.2em;
}
.event-card-content{
    color:#555657;
    text-align: center;
    font-size: 0.8em;
    margin-top: 18px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-button{
    background-color: #1F9BE4;
    width: 70%;
    border: none;
    color: white;
    margin-top: 25px;
    height: 40px;
    border-radius: 30px;
    text-align: center;

}
.customer-stories{
    
    background-size:cover;
}


  .meeting-content {
    margin: 0 auto;
  }

  .meeting-location, .meeting-date {
    font-size: 1em;
    font-weight: 300;
    display: block;
    margin-right: 0;

  }

  .meeting-location fa, .meeting-date fa {
    font-size: 1em;
    margin-right: 10px;
  }

  .meeting-title {
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 30px;
  }

  .days-countdown {
    font-size: 1.6em;
  }
  .days-remaining{
      margin-bottom: 20px;
  }

  .days-remaining-text {
    margin-top: -5px;
    font-size: 0.8em;

  }
  
.event-container{
   margin-top:-50px;
   padding:0 30px;

}
.video-container{
    width:90%;
    margin:0 auto;
    margin-bottom: 15px;
}
.video-container video{
    border-radius: 4px;
    box-shadow: 0 0 47px 5px rgba(0,0,0,0.25);
    width:100%;
}
.carousel-item{
    height:400px;
}
.carousel-inner{
    padding:10px;
}
@media (max-width:600px){
    .event-container{
        padding:0 5px;
    }
    .meeting-content {
       font-size: 0.7em;
      
      }
}
@media (min-width:600px){
   
   #carouselExampleInterval{
       width:50%;
       margin: 0 auto;
       height:500px;
   }
   .carousel-item{
    height:auto;
}
}