<div style="padding:30px;">
<p>
  We are ready to help you. Please contact us by sending an email:
</p>
<p style="text-align: center">
<a mat-stroked-button primary href="mailto:customer.engagement@tieto.com?Subject=Customer%20Engagement%20App" target="_top">Send Mail</a>
</p>
</div>
