/* You can add global styles to this file, and also import other style files */
html{
    height:100%;
    padding:0;
    margin:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:focus{
    outline: none;
}


body { margin: 0; font-family: 'Roboto', sans-serif; }
.full-width-dialog .mat-dialog-container {
    max-width: 100vw !important;
  }
