<div class="login-background">

    <div class="login-text-container">
      <p>Tieto Customer Engagement</p>
        <div class="color-bar-container">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <p>Better Insight For Your Visit</p>
        <p>Everything You Need for your business</p>
    </div>
    <div class="login-box">
      <div class="login-title">Forgot Password</div>
      <div class="form-container">
        <form *ngIf="step===1">
          <input name="email" [(ngModel)]="email" type="text" placeholder="Email address">
          <br>
          <br>
          <br>
          <button class="login-button" mat-button type="button" (click)="getConfirmationCode()">Get Password Reset Code</button>
        </form>
        <form *ngIf="step===2">
              <input name="confirmationCode" [(ngModel)]="confirmationCode" type="text" placeholder="Confirmation Code">
              <input name="newPassword" [(ngModel)]="newPassword" type="password" placeholder="New Password">
              <input name="confirmNewPassword"[(ngModel)]="confirmNewPassword" type="password" placeholder="Reenter New Password">
              <br>
              <button class="login-button" mat-button type="button" (click)="setNewPassword()">Set New Password</button>
          </form>
      </div>
    
    </div>
    </div>
    