<div class="container" *ngIf="user.UserId!=''">
  <img align="left" src="{{user.Photo}}">
  <div style="font-size: 1.3em;
  margin-top: 16px;">{{user.Salutation}} {{user.FirstName}} {{user.LastName}}</div>
  <div style="font-size: 1em;
  margin-bottom: 40px;">{{user.Designation}}</div>
  <p>{{user.AboutMe1}}</p>
  <p>{{user.AboutMe2}}</p>
  <div *ngIf="user.Hobbies">
    <h6>Hobbies</h6>
    {{user.Hobbies}}
  </div>
  <br>
  <div>
    <h6>Contact me at:</h6>
    <span *ngIf="user.Email">Email: {{user.Email}}</span>
    <span *ngIf="user.LinkedIn">LinkedIn: {{user.LinkedIn}}</span>
  </div>
</div>
